mixin article-tile(link, img, category, title, date)
  a.article-tile.block-bot-lg(href=link target="_blank")
    img(src=img width="100%")
    .block-top-xs.block-bot-md
      p.text-grey.tight.text-smaller= category
      p.text-bold.tight= title
      p.text-grey.text-smaller= date